{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h3 class="card-title">Mein Profil</h3>
                </div>
                {{ form_start(form) }}
                <div class="card-body">
                    Einer der beiden Werte MUSS angegeben sein, damit das Zahlungssystem funktioniert. Ansonsten wird lediglich die Adresseingabe durchgeführt.
                    <br><br>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="bmd-label-floating">Vorname <span class="text-danger">*</span></label>
                            {{ form_widget(form.firstname, {attr: {class: 'form-control'}, required: true}) }}
                        </div>
                        <div class="form-group col-md-6">
                            <label class="bmd-label-floating">Nachname <span class="text-danger">*</span></label>
                            {{ form_widget(form.lastname, {attr: {class: 'form-control'}, required: true}) }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="bmd-label-floating">eMail-Adresse <span class="text-danger">*</span></label>
                            {{ form_widget(form.email, {attr: {class: 'form-control'}, required: true}) }}
                        </div>
                        <div class="form-group col-md-6">
                            <label class="bmd-label-floating">Telefonnummer <small class="text-muted">Optional</small></label>
                            {{ form_widget(form.phone, {attr: {class: 'form-control'}, required: false}) }}
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label class="bmd-label-floating">PayPal API-ClientID <small class="text-muted">Optional</small></label>
                            {{ form_widget(form.paypal_clientid, {attr: {class: 'form-control'}, required: false}) }}
                        </div>
                    </div>
                </div>
                <div class="card-footer border-top">
                    <button type="submit" class="btn btn-success btn-block">Sichern</button>
                </div>
                {{ form_end(form) }}
            </div>
            <div class="card">
                <div class="card-header card-header-primary">
                    <h3 class="card-title">API-Zugang</h3>
                </div>
                <div class="card-body">
                    {{ app.user.aPIToken }}
                    <hr>
                    <a href="{{ path('app_security_generatetoken') }}" class="btn btn-warning">Neues Token generieren</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h3 class="card-title">Meine Adresse</h3>
                </div>
                {{ form_start(addressForm) }}
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-md-9">
                            <label class="bmd-label-floating">Straße <span class="text-danger">*</span></label>
                            {{ form_widget(addressForm.street, {attr: {class: 'form-control'}, required: true}) }}
                        </div>
                        <div class="form-group col-md-3">
                            <label class="bmd-label-floating">Hausnummer <span class="text-danger">*</span></label>
                            {{ form_widget(addressForm.streetnumber, {attr: {class: 'form-control'}, required: true}) }}
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label class="bmd-label-floating">Postleitzahl <span class="text-danger">*</span></label>
                            {{ form_widget(addressForm.zipcode, {attr: {class: 'form-control'}, required: true}) }}
                        </div>
                        <div class="form-group col-md-9">
                            <label class="bmd-label-floating">Stadt <span class="text-danger">*</span></label>
                            {{ form_widget(addressForm.city, {attr: {class: 'form-control'}, required: true}) }}
                        </div>
                    </div>
                </div>
                <div class="card-footer border-top">
                    <button type="submit" class="btn btn-success btn-block">Sichern</button>
                </div>
                {{ form_end(addressForm) }}
            </div>
        </div>
    </div>
{% endblock %}