{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12 col-lg-6">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h3 class="card-title">{{ order.name|raw }}</h3>
                </div>
                <div class="card-body">
                    <p><strong>Preis:</strong> {{ order.price|format_currency('EUR', locale='de') }}</p>
                    <p><strong>Versandkosten:</strong> {{ order.portoPrice|format_currency('EUR', locale='de') }}</p>
                    {% if order.payment %}
                        <p><strong>Bezahlung:</strong> <span class="text-success">{{ order.payment.amount|format_currency('EUR', locale='de') }} Euro Bezahlt via {{ order.payment.type }} am {{ order.payment.fulfillmentDate.format('d.m.Y') }}</span></p>
                    {% else %}
                        <p><strong>Bezahlung:</strong> <span class="text-danger">Noch nicht erfolgt!</span></p>
                    {% endif %}
                    {% if order.recipientName %}
                        <br>
                        <p><strong>Versandinformationen:</strong></p>
                        <p>{{ order.recipientName }}</p>
                        <p>{{ order.recipientStreet }} {{ order.recipientStreetNumber }}</p>
                        <p>{{ order.recipientZip }} {{ order.recipientCity }}</p>
                    {% endif %}
                    <div class="form-group">
                        <label for="customerToken">Kunden-URL</label>
                        <div class="input-group">
                            <input id="customerToken" class="form-control" type="text" disabled value="{{ app.request.getSchemeAndHttpHost() }}{{ path('app_customer_customer_addressform', {token: order.customerToken}) }}">
                            <div class="input-group-append">
                                <button class="input-group-btn btn btn-just-icon btn-sm" onclick="navigator.clipboard.writeText(document.getElementById('customerToken').value);$.notify({message: 'Der Link wurde in die Zwischenablage kopiert!'},{type: 'success', timer: 4000, placement: {from: 'top', align: 'right'}});"><i class="material-icons">content_copy</i></button>
                            </div>
                        </div>
                    </div>
                    {% if order.vintedItemId %}
                        <p><i>Importiert von Vinted</i></p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-6">
            <div class="card">
                <div class="card-header card-header-warning">
                    <h3 class="card-title">Aktionen</h3>
                </div>
                <div class="card-body">
                    {% if order.payment == null%}
                        <button class="btn btn-lg btn-success" onclick="window.location.href = '{{ path('app_order_payment_manual', {id: order.id}) }}'">Manuelle Bezahlung</button>
                    {% endif %}
                    <button class="btn btn-lg btn-warning" onclick="window.location.href = '{{ path('app_order_setpost', {id: order.id}) }}'">Portokosten setzen</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        let orderID = '{{ order.id }}';

    </script>
{% endblock %}