{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header card-header-tabs card-header-rose">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <span class="nav-tabs-title">Orders:</span>
                            <ul class="nav nav-tabs" data-tabs="tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#active" data-toggle="tab">
                                        <i class="material-icons">bug_report</i> Alle
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#archived" data-toggle="tab">
                                        <i class="material-icons">code</i> Sendung ausstehend
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body table-responsive">
                    <div class="tab-content">
                        <div class="tab-pane active show" id="active">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Titel</th>
                                    <th>Betrag</th>
                                    <th>Erstellt</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for order in orders %}
                                        <tr>
                                            <td>{{ order.name|raw }}</td>
                                            <td>{{ order.price }}</td>
                                            <td>{{ order.creationDatetime.format('d.m.Y') }}</td>
                                            <td class="td-actions text-right float-right">
                                                <button type="button" rel="tooltip" title="Anzeigen" class="btn btn-primary btn-link btn-sm" onclick="window.location.href = '{{ path('app_order_order', {id: order.id}) }}'">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Löschen" class="btn btn-danger btn-link btn-sm" onclick="window.location.href = '{{ path('app_order_delete', {id: order.id}) }}'" >
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div class="tab-pane" id="archived">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Titel</th>
                                    <th>Betrag</th>
                                    <th>Erstellt</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for order in orders %}
                                    {% if order.dHLLabels.count == 0 %}
                                        <tr>
                                            <td>{{ order.name|raw }}</td>
                                            <td>{{ order.price }}</td>
                                            <td>{{ order.creationDatetime.format('d.m.Y') }}</td>
                                            <td class="td-actions text-right float-right">
                                                <button type="button" rel="tooltip" title="Anzeigen" class="btn btn-primary btn-link btn-sm" onclick="window.location.href = '{{ path('app_order_order', {id: order.id}) }}'">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button type="button" rel="tooltip" title="Löschen" class="btn btn-danger btn-link btn-sm" disabled>
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}