{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header card-header-success">
                    <h3 class="card-title">Manuelle Bezahlung</h3>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    <div class="form-group">
                        <label class="bmd-label-floating">Betrag in Euro</label>
                        {{ form_widget(form.amount, {attr: {class: 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        <label class="bmd-label-floating">Zahlungsmittel</label>
                        {{ form_widget(form.type, {attr: {class: 'form-control'}}) }}
                    </div>

                    <button type="submit" class="btn btn-success">Sichern</button>
                    {{ form_widget(form._token) }}
                    {{ form_end(form, {'render_rest' : false}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        let orderID = '{{ order.id }}';

    </script>
{% endblock %}