{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header-success">
                    <h3 class="card-title">Versandkosten für {{ order.name }} setzen</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <div class="form-check form-check-radio form-check-inline">
                                    <label class="form-check-label">
                                        <input data-amount="0.00" class="form-check-input" type="radio" name="pack_type" id="inlineRadio1" value="custom" onchange="updateSelection()" checked>
                                        Eigene Versandkosten
                                        <span class="circle">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                                {% for product in products %}
                                    <div class="form-check form-check-radio form-check-inline">
                                        <label class="form-check-label">
                                            <input class="form-check-input" data-amount="{{ product.amount }}" type="radio" name="pack_type" id="inlineRadio1" onchange="updateSelection()" value="{{ product.id }}">
                                            {{ product.displayName }} {{ product.maxWeight/1000 }} kg | {{ product.maxLength }}x{{ product.maxWidth }}x{{ product.maxDepth }}cm
                                            <span class="circle">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label for="postCost">Versandkosten</label>
                                    <input type="text" class="form-control" name="postCost" id="postCost" placeholder="Betrag in Euro" value="0,00">
                                </div>
                                <input type="submit" class="btn btn-primary btn-block" value="Sichern" name="submitted">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('postCost').value = 0.00;

        function updateSelection(){
            let ele = document.getElementsByName('pack_type');

            var value = "";
            var amount = "";
            for(i = 0; i < ele.length; i++) {
                if(ele[i].checked){
                    value = ele[i].value
                    document.getElementById('postCost').value = ele[i].dataset.amount;
                }
            }


            if(value === 'custom'){
                document.getElementById('postCost').readonly = "READONLY";
            }else{
                document.getElementById('postCost').readonly = null;
            }
        }
    </script>
{% endblock %}