{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header-success">
                    <h3 class="card-title">Login</h3>
                </div>
                <form method="post">
                    <div class="card-body">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        {% if app.user %}
                            <div class="alert alert-success">
                                Du bist angemeldet als {{ app.user.userIdentifieri }}. Nicht du? <a href="{{ path('app_logout') }}">Abmelden</a>
                            </div>
                        {% endif %}

                        <label for="inputEmail">eMail</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                        <label for="inputPassword">Kennwort</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                    </div>
                    <div class="card-footer">
                        <button class="btn float-right btn-primary" type="submit">
                            Anmelden
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</form>
{% endblock %}
