{% extends 'base.html.twig' %}
{% block body %}
    {% if order.recipientName %}
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Bestellung erfolgreich!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Die Bestellung wurde erfolgreich durchgeführt und der Verkäufer hat deine Daten erhalten. <strong>Hier kannst du diese weiterhin ändern!</strong>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fertig</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $('#exampleModal').modal({show: true})
        </script>
    {% endif %}

    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h3 class="card-title">
                        {{ order.name|raw }}
                    </h3>
                </div>
                <div class="card-body">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Über den Kauf</h3>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <tr>
                                    <td><strong>Verkäufer:</strong></td>
                                    <td>{{ order.creator.firstname }} {{ order.creator.lastname }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Preis:</strong></td>
                                    <td>{{ order.price|format_currency('EUR', locale='de') }}</td>
                                </tr>
                                <tr>
                                    <td><strong>Versandkosten:</strong></td>
                                    <td>{% if order.portoPrice %}{{ order.portoPrice|format_currency('EUR', locale='de') }}{% else %}Mit dem Verkäufer vereinbart - siehe Vinted-Produkt!{% endif %}</td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Schritt 1: Bezahlung{% if order.payment %} | <strong class="text-success">Bezahlt</strong>{% endif %}</h3>
                        </div>
                        <div class="card-body text-center">
                            {% if order.creator.paypalClientid %}
                                {% if order.payment == null %}
                                    <script src="https://www.paypal.com/sdk/js?client-id={{ order.creator.paypalClientid|url_encode }}&enable-funding=venmo&currency=EUR" data-sdk-integration-source="button-factory"></script>
                                    <div id="smart-button-container">
                                        <div style="text-align: center;">
                                            <div id="paypal-button-container"></div>
                                        </div>
                                    </div>
                                    <script>
                                        function initPayPalButton() {
                                            paypal.Buttons({
                                                style: {
                                                    shape: 'rect',
                                                    color: 'gold',
                                                    layout: 'vertical',
                                                    label: 'paypal',

                                                },

                                                createOrder: function(data, actions) {
                                                    return actions.order.create({
                                                        purchase_units: [
                                                                {
                                                                    "description":"{{ order.name|raw }}",
                                                                    "amount":{
                                                                        "currency_code":"EUR",
                                                                        "value":{% if order.portoPrice == null %}{{ order.price }}{% else %}+{{ order.portoPrice + order.price }},
                                                                        "breakdown":{
                                                                            "item_total":{
                                                                                "currency_code":"EUR",
                                                                                "value":{{ order.price }}
                                                                            },
                                                                            "shipping":{
                                                                                "currency_code":"EUR",
                                                                                "value":{{ order.portoPrice }}
                                                                            },
                                                                            "tax_total":{
                                                                                "currency_code":"EUR",
                                                                                "value":0.00
                                                                            }
                                                                        }{% endif %}
                                                                    }
                                                                }
                                                            ]
                                                    });
                                                },

                                                onApprove: function(data, actions) {
                                                    return actions.order.capture().then(function(orderData) {

                                                        fetch('/orders/{{ order.id }}/payPalPaid/' + orderData.status);

                                                        // Show a success message within this page, e.g.
                                                        const element = document.getElementById('paypal-button-container');
                                                        element.innerHTML = '';
                                                        element.innerHTML = '<div class="alert alert-success">Die Zahlung ist erfolgt - Der Verkäufer erhält eine eMail, um den Zahlungseingang zu bestätigen!</div><br><br><button class="btn btn-success btn-lg" onclick="window.location.reload()">Weiter zur Adresseingabe</button>';

                                                        // Or go to another URL:  actions.redirect('thank_you.html');

                                                    });
                                                },

                                                onError: function(err) {
                                                    console.log(err);
                                                }
                                            }).render('#paypal-button-container');
                                        }
                                        initPayPalButton();
                                    </script>
                                    {% endif %}
                            {% else %}
                                <div class="alert alert-danger">Der Verkäufer hat keine Zahlungsdaten angegeben! Bitte kontaktiere ihn bezüglich der Bezahlung.<br><strong>Gib daher unten deine Kontaktdaten an!</strong></div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Schritt 2: Adressdaten für den Versand{% if order.recipientName %} | <strong class="text-success">Vollständig</strong>{% endif %}</h3>
                        </div>
                        {% if form %}
                        {{ form_start(form) }}
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label class="bmd-label-floating">Name <span class="text-danger">*</span></label>
                                    {{ form_widget(form.recipient_name, {attr: {class: 'form-control'}, required: true}) }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    <label class="bmd-label-floating">Postleitzahl <span class="text-danger">*</span></label>
                                    {{ form_widget(form.recipient_zip, {attr: {class: 'form-control'}, required: true}) }}
                                </div>
                                <div class="form-group col-md-10">
                                    <label class="bmd-label-floating">Ort <span class="text-danger">*</span></label>
                                    {{ form_widget(form.recipient_city, {attr: {class: 'form-control'}, required: true}) }}
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="bmd-label-floating">Straße <span class="text-danger">*</span></label>
                                    {{ form_widget(form.recipient_street, {attr: {class: 'form-control'}, required: true}) }}
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="bmd-label-floating">Hausnummer <span class="text-danger">*</span></label>
                                    {{ form_widget(form.recipient_streetNumber, {attr: {class: 'form-control'}, required: true}) }}
                                </div>
                            </div>
                        </div>
                        <div class="card-footer border-top">
                            <button type="submit" class="btn btn-success btn-block">Fertig</button>
                        </div>
                        {{ form_end(form) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
