{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        {% if app.user %}
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">content_copy</i>
                        </div>
                        <p class="card-category">Bestellungen</p>
                        <h3 class="card-title">
                            {{ app.user.orders.count }}
                        </h3>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-sm btn-dark">Bestellungen anzeigen</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">Zahlungen</p>
                        <h3 class="card-title">{{ app.user.totalPayments }} €</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <a href="#" class="btn btn-sm btn-dark">Zahlungen anzeigen</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">info_outline</i>
                        </div>
                        <p class="card-category">Versand ausstehend</p>
                        <h3 class="card-title">{{ app.user.pendingPostage }}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <a href="#" class="btn btn-sm btn-dark">Bestellungen anzeigen</a>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="card">
                <div class="card-header card-header-primary">
                    <h3 class="card-title">Herzlich willkommen!</h3>
                </div>
                <div class="card-body">
                    <h4>Herzlich willkommen bei Pay&Send!</h4>
                    <hr>
                    <p>Dieses Portal erleichtert es Verkäufern auf Marketplace-Plattformen wie Vinted oder eBay-Kleinanzeigen, Verkauf und Versand zu beschleunigen!</p>

                    <a href="{{ path('app_login') }}" class="btn btn-success">Zum Login</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}